body {

}

body header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;

    h1 {
        margin: auto;
    }
}

body footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        em {
            font-size: 1em;
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card {
        background-color: #f7d8d8;
        padding: 10px;
        margin: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        width: 30vw;

        &:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        }

        img {
            width: 40%;
            height: 85%;
        }

        p {
            margin: 10px;
            font-size: 1.2em;
        }

        table {
            margin-left: 1em;
            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                border-collapse: separate;
                color: black;
                font-size: 100%;
                text-indent: initial;
                border-spacing: 2px;
                line-height: 1.6;
                th {
                    text-align: right;
                    border-radius: 3px;
                    padding: 5px;
                    vertical-align: middle;
                    background-color: #3DA224 !important;
                }
                td {
                    background-color: #fcfcfc;
                    padding: 5px;
                    border-radius: 5px;
                    border: solid 1px #3DA224;
                }
            }
        }
    }
}