<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../data/charged_moves.js"></script>
    <script defer src="../data/cp_multiplier.js"></script>
    <script defer src="../data/fast_moves.js"></script>
    <script defer src="../data/generation.js"></script>
    <script defer src="../data/pokemon_moves.js"></script>
    <script defer src="../data/pokemon_type.js"></script>
    <script defer src="../data/pokemon.js"></script>
    <script defer src="../data/type_effectiveness.js"></script>
    <script defer src="../data/class_type.js"></script>
    <script defer src="../data/class_attack.js"></script>
    <script defer src="../data/class_pokemon.js"></script>
    <script defer src="../data/jquery-3.7.1.min.js"></script>
    <script defer src="script_v1.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Pokemon SAE</h1>
    </header>

    <main class="main">
        <p class="name"></p>
        <table>
            <tbody>
            <tr>
                <th>Pokemon ID</th>
                <td class="id"></td>
            </tr>
            <tr>
                <th>Génération</th>
                <td class="generation"></td>
            </tr>
            <tr>
                <th>Type</th>
                <td class="type"></td>
            </tr>
            <tr>
                <th>Charged moves</th>
                <td class="charged_moves"></td>
            </tr>
            <tr>
                <th>Fast moves</th>
                <td class="fast_moves"></td>
            </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <div>
            <p>SAE Semestre 4</p>
            <em>DUMERCHAT Kyrill / PENVEN Ewan</em>
        </div>
    </footer>
</body>
</html>